.results-block {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.sort-chapter {
    position: relative;
    display: flex;
    margin-bottom: 20px;
    margin-left: auto;
    font-size: 16px;
    border-radius: 5px;
}

.sort-chapter:hover {
    opacity: 0.9;
    cursor: pointer;
}

.label-box_dark-light {
    font-size: 10px;
    font-weight: bold;
    color: black;
    margin-right: 50px;
}

/*Блок оформления таблицы*/
.results-block__table {
    max-width: 100%;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Тень вокруг таблицы */
}

thead th {
    padding: 5px;
    text-align: center;
    font-weight: bold;
    border: 1px solid #d1dade;
    background-color: #f2f2f2;
    font-size: 12px;
}

.results-block__table tbody tr {
    border-bottom: 1px solid #d1dade; /* Граница между строками */
    padding: 12px 15px;
    text-align: center;
    height: 80px;
}

.results-block__table tbody tr:hover {
    background-color: #f1f8ff;
}

.results-block__table tbody td {
    max-width: 400px;
}

.pagination-block {
    margin: 25px auto 0;
    height: 25px;
}

.pagination-block__page {
    height: 100%;
    font-size: 16px;
    border-radius: 5px;
}