{% extends "layout.jinja2" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/filter.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/table.css') }}" type="text/css"/>
    <title>ДИПЛОМАЛ - Поиск по разделам</title>
{% endblock %}

{% block main %}
    <section class="filters">
        <div class="filters__header-block">
            <h2 class="filters__header">Фильтры</h2>
        </div>
        <form action="{{ url_for('search_chapter') }}" id="filter__form" class="filter__form" method="GET">
            <div class="filter-range">
                <div class="label-box">
                    <label class="label-box__label">id диплома</label>
                </div>
                <div class="filter-box">
                    <label class="filter-box__label" for="min_id_diploma">от</label>
                    <input class="filter-box__input" type="number" id="min_id_diploma" name="min_id_diploma"
                           value="{{ request.args.get('min_id_diploma', '') }}" min="0">
                    <label class="filter-box__label" for="max_id_diploma">до</label>
                    <input class="filter-box__input" type="number" id="max_id_diploma" name="max_id_diploma"
                           value="{{ request.args.get('max_id_diploma', '') }}" min="0">
                </div>
            </div>

            <div class="filter-range">
                <div class="label-box">
                    <label class="label-box__label">id раздела</label>
                </div>
                <div class="filter-box">
                    <label class="filter-box__label" for="min_id">от</label>
                    <input class="filter-box__input" type="number" id="min_id" name="min_id"
                           value="{{ request.args.get('min_id', '') }}" min="0">
                    <label class="filter-box__label" for="max_id">до</label>
                    <input class="filter-box__input" type="number" id="max_id" name="max_id"
                           value="{{ request.args.get('max_id', '') }}" min="0">
                </div>
            </div>

            <div class="filter-range">
                <div class="label-box">
                    <label class="label-box__label" for="name">название раздела</label>
                </div>
                <div class="filter-box">
                    <input class="filter-box__input long-input" type="text" id="name" name="name"
                           value="{{ request.args.get('name', '') }}" placeholder="название раздела">
                </div>
            </div>

            <div class="filter-range">
                <div class="label-box">
                    <label class="label-box__label">водность</label>
                </div>
                <div class="filter-box">
                    <label class="filter-box__label" for="min_water_content">от</label>
                    <input class="filter-box__input" type="number" id="min_water_content" name="min_water_content"
                           value="{{ request.args.get('min_water_content', '') }}" min="0">
                    <label class="filter-box__label" for="max_water_content">до</label>
                    <input class="filter-box__input" type="number" id="max_water_content" name="max_water_content"
                           value="{{ request.args.get('max_water_content', '') }}" min="0">
                </div>
            </div>

            <div class="filter-range">
                <div class="label-box">
                    <label class="label-box__label">слов</label>
                </div>
                <div class="filter-box">
                    <label class="filter-box__label" for="min_words">от</label>
                    <input class="filter-box__input" type="number" id="min_words" name="min_words"
                           value="{{ request.args.get('min_words', '') }}" min="0">
                    <label class="filter-box__label" for="max_words">до</label>
                    <input class="filter-box__input" type="number" id="max_words" name="max_words"
                           value="{{ request.args.get('max_words', '') }}" min="0">
                </div>
            </div>

            <div class="filter-range">
                <div class="label-box">
                    <label class="label-box__label">символов</label>
                </div>
                <div class="filter-box">
                    <label class="filter-box__label" for="min_symbols">от</label>
                    <input class="filter-box__input" type="number" id="min_symbols" name="min_symbols"
                           value="{{ request.args.get('min_symbols', '') }}" min="0">
                    <label class="filter-box__label" for="max_symbols">до</label>
                    <input class="filter-box__input" type="number" id="max_symbols" name="max_symbols"
                           value="{{ request.args.get('max_symbols', '') }}" min="0">
                </div>
            </div>

            <div class="filter-range">
                <div class="label-box">
                    <label class="label-box__label" for="words">частые слова</label>
                </div>
                <div class="list-card">
                    <div class="filter-box">
                        <input class="filter-box__input append-input" type="text" id="words" placeholder="Добавить">
                        <button type="button" class="filter-box__add-word" id="words_button">
                            <i class="fa-solid fa-plus"></i>
                        </button>
                    </div>
                    <div class="words-container" id="words-container"></div>
                    <input type="hidden" name="words" id="hidden-words" value="{{ request.args.get('words', '') }}">
                </div>
            </div>

            <div class="filter-range">
                <div class="label-box">
                    <label class="label-box__label" for="chapters">id подразделов</label>
                </div>
                <div class="list-card">
                    <div class="filter-box">
                        <input class="filter-box__input append-input" type="number" id="chapters"
                               placeholder="Добавить" min="0">
                        <button type="button" class="filter-box__add-word" id="chapters-button">
                            <i class="fa-solid fa-plus"></i>
                        </button>
                    </div>
                    <div class="words-container" id="chapters-container"></div>
                    <input type="hidden" name="chapters" id="hidden-chapters"
                           value="{{ request.args.get('chapters', '') }}">
                </div>
            </div>

            <button type="submit" class="search-button filters__header-block">Найти</button>
            <button type="reset" class="search-button reset-button filters__header-block">Сбросить фильтры</button>
        </form>
    </section>

    <section class="results-block">
        <select name="order_by" form="filter__form" class="sort-chapter" id="sort">
            <option value="" {{ sort() }}>без сортировки</option>
            <option value="id" {{ sort('id') }}>id (по возр.)</option>
            <option value="id desc" {{ sort('id desc') }}>id (по убыв.)</option>
            <option value="id_diploma" {{ sort('id_diploma') }}>id диплома (по возр.)</option>
            <option value="id_diploma desc" {{ sort('id_diploma desc') }}>id диплома (по убыв.)</option>
            <option value="water_content" {{ sort('water_content') }}>водность (по возр.)</option>
            <option value="water_content desc" {{ sort('water_content desc') }}>водность (по убыв.)</option>
            <option value="words" {{ sort('words') }}>кол-во слов (по возр.)</option>
            <option value="words desc" {{ sort('words desc') }}>кол-во слов (по убыв.)</option>
            <option value="symbols" {{ sort('symbols') }}>кол-во символов (по возр.)</option>
            <option value="symbols desc" {{ sort('symbols desc') }}>кол-во символов (по убыв.)</option>
        </select>
        <!-- Блок с результатами -->
        <table class="results-block__table">
            <thead>
            <tr>
                <th>id диплома</th>
                <th>id раздела</th>
                <th>название раздела</th>
                <th>водность</th>
                <th>слов</th>
                <th>символов</th>
                <th>топ часто встречающихся слов</th>
                <th>дочерние разделы (id)</th>
            </tr>
            </thead>

            <tbody>
            {% for chapter in chapters %}
                <tr>
                    <td>
                        <a href="{{ url_for('diploma_statistics', diploma_id=chapter.id_diploma) }}">{{ chapter.id_diploma }}</a>
                    </td>
                    <td>{{ chapter.id }}</td>
                    <td>{{ chapter.name }}</td>
                    <td>{{ chapter.water_content }}%</td>
                    <td>{{ chapter.words }}</td>
                    <td>{{ chapter.symbols }}</td>
                    <td>{{ chapter.commonly_used_words|join(", ") }}</td>
                    <td>{{ chapter.chapters|join(", ") }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="pagination-block">
            <span>Страница</span>
            <select name="page" class="pagination-block__page" id="page">
                {% for i in range(1, total_count + 1) %}
                    <option value={{ i }} {% if request.args.get('page', '1') == i|string %}selected{% endif %}>
                        {{ i }}
                    </option>
                {% endfor %}
            </select>
            <span>из {{ total_count }}</span>
        </div>
    </section>

    <script type="text/javascript" src="{{ url_for('static', filename='scripts/search.js') }}"></script>
{% endblock %}
