{% extends "layout.jinja2" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/filter.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/table.css') }}" type="text/css"/>
    <title>ДИПЛОМАЛ - Поиск по диплому</title>
{% endblock %}

{% block main %}
    <section class="filters">
        <div class="filters__header-block">
            <h2 class="filters__header">Фильтры</h2>
        </div>
        <form action="{{ url_for('search_diploma') }}" id="filter__form" class="filter__form" method="GET">
            <div class="filter-range">
                <div class="label-box">
                    <label class="label-box__label">id</label>
                </div>
                <div class="filter-box">
                    <label class="filter-box__label" for="min_id">от</label>
                    <input class="filter-box__input" type="number" min="0" id="min_id" name="min_id"
                           value="{{ request.args.get('min_id', '') }}">
                    <label class="filter-box__label" for="max_id">до</label>
                    <input class="filter-box__input" type="number" min="0" id="max_id" name="max_id"
                           value="{{ request.args.get('max_id', '') }}">
                </div>
            </div>

            <div class="filter-range">
                <div class="label-box">
                    <label class="label-box__label" for="chapters">id подразделов</label>
                </div>
                <div class="list-card">
                    <div class="filter-box">
                        <input class="filter-box__input append-input" type="number" id="chapters"
                               placeholder="Добавить" min="0">
                        <button type="button" class="filter-box__add-word" id="chapters-button">
                            <i class="fa-solid fa-plus"></i>
                        </button>
                    </div>
                    <div class="words-container" id="chapters-container"></div>
                    <input type="hidden" name="chapters" id="hidden-chapters"
                           value="{{ request.args.get('chapters', '') }}">
                </div>
            </div>

            <div class="filter-range">
                <div class="label-box">
                    <label class="label-box__label" for="name">название темы</label>
                </div>
                <div class="filter-box">
                    <input class="filter-box__input long-input" type="text" id="name" name="name"
                           value="{{ request.args.get('name', '') }}" placeholder="Название темы">
                </div>
            </div>

            <div class="filter-range">
                <div class="label-box">
                    <label class="label-box__label" for="author">автор</label>
                </div>
                <div class="filter-box">
                    <input class="filter-box__input long-input" type="text" id="author" name="author"
                           value="{{ request.args.get('author', '') }}" placeholder="Автор">
                </div>
            </div>

            <div class="filter-range">
                <div class="label-box">
                    <label class="label-box__label" for="academic_supervisor">научный руководитель</label>
                </div>
                <div class="filter-box">
                    <input class="filter-box__input long-input" type="text" id="academic_supervisor"
                           name="academic_supervisor"
                           value="{{ request.args.get('academic_supervisor', '') }}"
                           placeholder="Имя руководителя">
                </div>
            </div>

            <div class="filter-range">
                <div class="label-box">
                    <label class="label-box__label">год</label>
                </div>
                <div class="filter-box">
                    <label class="filter-box__label" for="min_year">от</label>
                    <input class="filter-box__input" type="number" min="1970" max="2025" id="min_year" name="min_year"
                           value="{{ request.args.get('min_year', '') }}">
                    <label class="filter-box__label" for="max_year">до</label>
                    <input class="filter-box__input" type="number" min="1970" max="2025" id="max_year" name="max_year"
                           value="{{ request.args.get('max_year', '') }}">
                </div>
            </div>

            <div class="filter-range">
                <div class="label-box">
                    <label class="label-box__label">слова</label>
                </div>
                <div class="filter-box">
                    <label class="filter-box__label" for="min_words">от</label>
                    <input class="filter-box__input" type="number" min="0" id="min_words" name="min_words"
                           value="{{ request.args.get('min_words', '') }}">
                    <label class="filter-box__label" for="max_words">до</label>
                    <input class="filter-box__input" type="number" min="0" id="max_words" name="max_words"
                           value="{{ request.args.get('max_words', '') }}">
                </div>
            </div>

            <div class="filter-range">
                <div class="label-box">
                    <label class="label-box__label">дата загрузки</label>
                </div>
                <div class="filter-box">
                    <label class="filter-box__label" for="min_date">от</label>
                    <input class="filter-box__input" type="date" id="min_date" name="min_date"
                           value="{{ request.args.get('min_date', '') }}">
                    <label class="filter-box__label" for="max_date">до</label>
                    <input class="filter-box__input" type="date" id="max_date" name="max_date"
                           value="{{ request.args.get('max_date', '') }}">
                </div>
            </div>

            <button type="submit" class="search-button filters__header-block">Найти</button>
            <button type="reset" class="search-button reset-button filters__header-block">Сбросить фильтры</button>
        </form>
    </section>

    <section class="results-block">
        <select name="order_by" form="filter__form" class="sort-chapter" id="sort">
            <option value="" {{ sort() }}>без сортировки</option>
            <option value="id" {{ sort('id') }}>id (по возр.)</option>
            <option value="id desc" {{ sort('id desc') }}>id (по убыв.)</option>
            <option value="year" {{ sort('year') }}>год (по возр.)</option>
            <option value="year desc" {{ sort('year desc') }}>год (по убыв.)</option>
            <option value="words" {{ sort('words') }}>кол-во слов (по возр.)</option>
            <option value="words desc" {{ sort('words desc') }}>кол-во слов (по убыв.)</option>
            <option value="load_date" {{ sort('load_date') }}>дата загрузки (по возр.)</option>
            <option value="load_date desc" {{ sort('load_date desc') }}>дата загрузки (по убыв.)</option>
        </select>
        <table class="results-block__table">
            <thead>
            <tr>
                <th>id</th>
                <th>внешние разделы</th>
                <th>тема</th>
                <th>автор</th>
                <th>научный руководитель</th>
                <th>год</th>
                <th>слова</th>
                <th>дата загрузки</th>
            </tr>
            </thead>
            <tbody>
            {% for diploma in diplomas %}
                <tr>
                    <td><a href="{{ url_for('diploma_statistics', diploma_id=diploma.id) }}">{{ diploma.id }}</a></td>
                    <td>{{ diploma.chapters|join(", ") }}</td>
                    <td>{{ diploma.name }}</td>
                    <td>{{ diploma.author }}</td>
                    <td>{{ diploma.academic_supervisor }}</td>
                    <td>{{ diploma.year }}</td>
                    <td>{{ diploma.words }}</td>
                    <td>{{ diploma.load_date.strftime('%d.%m.%Y') }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="pagination-block">
            <span>Страница</span>
            <select name="page" class="pagination-block__page" id="page">
                {% for i in range(1, total_count + 1) %}
                    <option value={{ i }} {% if request.args.get('page', '1') == i|string %}selected{% endif %}>
                        {{ i }}
                    </option>
                {% endfor %}
            </select>
            <span>из {{ total_count }}</span>
        </div>
    </section>

    <script type="text/javascript" src="{{ url_for('static', filename='scripts/search.js') }}"></script>
{% endblock %}
