{% extends 'layout.jinja2' %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/upload.css') }}" type="text/css"/>
{% endblock %}
{% block main %}
    <div class="card-container">
        <div class="card">
            <h3 class="card__header">Загрузить диплом</h3>
            <form method="post" enctype="multipart/form-data" action="/diploma">
                <input type="file" id="diploma" name="diploma" accept=".docx" onchange="form.submit(); this.value = ''">
                <label class="button" for="diploma">
                    <i class="fa-solid fa-file-import fa-4x"></i>
                </label>
            </form>
        </div>
    </div>
{% endblock %}