{% extends 'layout.jinja2' %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/upload.css') }}" type="text/css"/>
    <title>ДИПЛОМАЛ - Сброс</title>
{% endblock %}
{% block main %}
    <div class="card-container">
        <div class="card">
            <h3 class="card__header">Экспорт из БД</h3>
            <a class="button" href="{{ url_for('export_db') }}">
                <i class="fa-solid fa-upload fa-4x"></i>
            </a>
        </div>
        <div class="card">
            <h3 class="card__header">Импорт в БД</h3>
            <form method="POST" enctype="multipart/form-data" action="{{ url_for('import_db') }}">
                <input type="file" id="dump" name="dump" accept=".json">
                <label class="button" for="dump">
                    <i class="fa-solid fa-download fa-4x"></i>
                </label>
            </form>
        </div>
    </div>

    <script type="text/javascript" src="{{ url_for('static', filename='scripts/dump.js') }}"></script>
{% endblock %}
