{% extends "layout.jinja2" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/general_statistics.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/section_stats.css') }}" type="text/css"/>
    <title>ДИПЛОМАЛ - Статистика</title>
{% endblock %}
{% block main %}
    <div class="data-container">
        <div class="data-card">
            <h2 class="data-card__header">Общая статистика</h2>

            <div class="data-card__stats">
                <div class="data-card__first-col card-col">
                    <section class="data-card__general-data">
                        <h3>Общие данные</h3>
                        <table class="stats-table">
                            <tr>
                                <td>Автор</td>
                                <td>{{ diploma.author }}</td>
                            </tr>
                            <tr>
                                <td>Тема</td>
                                <td>{{ diploma.name }}</td>
                            </tr>
                            <tr>
                                <td>Год написания</td>
                                <td>{{ diploma.year }}</td>
                            </tr>
                            <tr>
                                <td>Научный руководитель</td>
                                <td>{{ diploma.academic_supervisor }}</td>
                            </tr>
                            <tr>
                                <td>Количество слов</td>
                                <td>{{ diploma.words }}</td>
                            </tr>
                        </table>
                    </section>
                </div>

                <div class="data-card__second-col card-col">
                    <section class="data-card__topics-coverage" style="display: none">
                        <h3>Раскрытие тем</h3>
                        <table class="stats-table">
                            {% for topic in diploma.topics %}
                                <tr>
                                    <td>{{ topic.name }}</td>
                                    <td>{{ topic.coverage }}%</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </section>

                    <section class="data-card__similar-diplomas">
                        <h3>Похожие дипломы</h3>
                        <table class="stats-table">
                            {% for work in diploma.similar_diplomas %}
                                <tr>
                                    <td><a href="{{ url_for('diploma_statistics', diploma_id=work[0]) }}">{{ work[1] }}</a></td>
                                    <td>{{ work[2]|round(2, 'ceil') }}%</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </section>
                </div>
            </div>
        </div>

        <div class="data-card">
            <h2>Статистика по разделам</h2>
            <div class="accordion">
                {% macro render_chapters(chapters) %}
                    {% for chapter in chapters %}
                        <div class="accordion-item">
                            <button class="accordion-header">
                                <span class="chapter-name">{{ chapter.name }}</span>
                                <i class="fa-solid fa-angle-down fa-2x arrow"></i>
                            </button>
                            <div class="accordion-content">
                                <div class="chapter-stats">
                                    <section class="data-card__general-data">
                                        <h3>Общие данные</h3>
                                        <table class="stats-table">
                                            <tr>
                                                <td>Количество слов</td>
                                                <td>{{ chapter.words }}</td>
                                            </tr>
                                            <tr>
                                                <td>Количество символов</td>
                                                <td>{{ chapter.symbols }}</td>
                                            </tr>
                                            <tr>
                                                <td>Водность</td>
                                                <td>{{ chapter.water_content }}%</td>
                                            </tr>
                                        </table>
                                    </section>
                                    <section class="data-card__general-data">
                                        <h3>Топ ключевых слов</h3>
                                        <table class="stats-table">
                                            {% for i in range(chapter.commonly_used_words| length) %}
                                                <tr>
                                                    <td>{{ chapter.commonly_used_words[i] }}</td>
                                                    <td>{{ chapter.commonly_used_words_amount[i] }}</td>
                                                </tr>
                                            {% endfor %}
                                        </table>
                                    </section>
                                </div>

                                {% if chapter.chapters %}
                                    <div class="subchapters">
                                        {{ render_chapters(chapter.chapters) }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                {% endmacro %}

                {{ render_chapters(diploma.chapters) }}
            </div>
        </div>

        <script type="text/javascript" src="{{ url_for('static', filename='scripts/general_statistics.js') }}"></script>
    </div>
{% endblock %}
