{% extends 'layout.jinja2' %}

{% block main %}
    
    <div class="card-container">
        <div class="card">
            <h3 class="card__header">Поиск по дипломам</h3>
            <a class="button" href="{{ url_for('search_diploma') }}">
                <i class="fa-solid fa-magnifying-glass fa-4x"></i>
            </a>
        </div>
        <div class="card">
            <h3 class="card__header">Поиск по разделам</h3>
            <a class="button" href="{{ url_for('search_chapter') }}">
                <i class="fa-solid fa-magnifying-glass fa-4x"></i>
            </a>
        </div>
    </div>
{% endblock %}
